# Ignore build output and user-specific files
bin/
obj/
**/bin/
**/obj/
*.user
*.rsuser
*.suo
*.cache
*.pdb
# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
.idea/
/.idea/
/.idea/**.*
/.idea/**/**
/.idea.VsaSample.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.vs/**
/src/VsaSample.Api/Logs/*
